
@import './base/variables.css';
@import './base/typography.css';
@import './components/button.module.css';
@import './components/card.module.css';


/* global styles here imported in main.jsx */


/* absolute global styling */
:root {
  font-family: var(--font-family);
  font-size: var(--text-base);

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* React root container using id root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 💻 Default (Desktop-first) */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (min-width: 31.25em) and (max-width: 62.5em) {
  body {
    /* Tablet styles */
  }
}

/* 📱 Mobile: below 500px */
@media (max-width: 31.25em) {
  body {
    /* Mobile styles */
  }
}


