
@import './base/variables.css';
@import './base/typography.css';
@import './components/button.module.css';
@import './components/card.module.css';


/* global styles here imported in main.jsx */


/* absolute global styling */
:root {
  font-family: var(--font-family);
  font-size: var(--text-base);

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  cursor: default;
}


/* React root container using id root */
#root {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

* {border: solid red 1px;}

/* Globl file set flex and grid */

nav {
  position: sticky;
  top: 0;
  height: 5rem;
  z-index: 100;
  background-color: aqua;
  opacity: 50%;
}


main {
  width: 100%;
  display: flex;
}

aside {
  position: sticky;
  top: 5rem;
  width: 4rem;
  height:  calc(100vh - 5rem);
  background-color: aquamarine;
  opacity: 50%;
}

section {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  min-height: 100vh;
}

 /* Tablet */
@media (min-width: 360px) and (max-width: 1000px) {
  body {
  }
}

/* Mobile*/
@media (max-width: 360px) {
  body {

  }
}


