
@import './base/variables.css';
@import './base/typography.css';
@import './components/button.module.css';
@import './components/card.module.css';


/* global styles here imported in main.jsx */


/* absolute global styling */
:root {
  font-family: var(--font-family);
  font-size: var(--text-base);

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* React root container using id root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

* {border: solid red 1px;}

/* Globl file set flex and grid */
/* 💻 Default (Desktop-first) */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  cursor: default;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

    /* Tablet styles */
@media (min-width: 360px) and (max-width: 1000px) {
  body {
  }
}

/* 📱 Mobile: below 500px */
@media (max-width: 360px) {
  body {

  }
}


